<ion-header>
  <ion-toolbar class="toolbar">

    <img src="../assets/icon/backWhite.svg" class="back" [routerLink]="['/theater-list']">
    <ion-title class="title">{{movie}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;">
    <div class="list">
      <div>
        <span class="theaterName">
          {{name}}

        </span>
        <img src="../assets/icon/information.svg" class="info">
        <br>
        <span class="distance">
          {{today | date:'dd MMM '}} {{day}} {{mon}} {{year}}
        </span>
      </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let i of dataTime">
              <button (click)="timeSelect(i.time)" [ngClass]="{'selected': i.active}" class="{{i.cssClass}}" fill="clear">
                {{i.time}}
              </button>
            </ion-col>


          </ion-row>

        </ion-grid>
      </div>

    </div>
    <div class="seatDiv">
      <span>
        How many seats ?
      </span>
      <br>
      <!-- *ngFor="let vehicle of seatType" -->
      <div style="text-align: center">
        <img src="{{selected}}" class="vehicle">

        <div class="oval"></div>
      </div>
      <div >
        <div style="margin-top: 20px;margin-bottom: 25px;display: inline-block" *ngFor="let number of seat">
          <button fill="clear" Size="small" class="numberBtn" (click)="toggleClass(number)"
            [ngClass]="{'active': number.active}">{{number.no}}</button>

        </div>
      </div>


      <div style="margin-top: 15px;text-align: center">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let rate of seatData;let i = index;" size="4">
              <button [ngClass]="{'activated': rate.activated}" (click)="selectedRate(i)" fill="clear" class="seatRate">
                <div>
                  <span class="lightFont">{{rate.type}}</span>
                  <br>
                  <br>
                  <span>{{rate.price}}</span>
                  <br>
                  <br>
                  <br>
                  <span class="fill">
                    {{rate.availability}}
                  </span>
                </div>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>



      </div>


    </div>

  </div>
</ion-content>
<ion-footer>

  <ion-button class="bookSeat" fill="clear" (click)="navigate()">
    <span>
      Select seats
    </span>
  </ion-button>

</ion-footer>