<ion-header>
  <ion-toolbar class="header">

    <img src="../assets/icon/backWhite.svg" class="back" [routerLink]="['/seat-selection']">

    <ion-title>
      <div style="float: left;">

        <span class="title">
          {{movie}}
        </span>
        <div class="address">
          <span class="address">
            Arasan Cinemas A/C 2K Dolbyk
          </span>
        </div>

      </div>
      <div style=" float: right">
        <ion-label class="seatsT">
          {{no}} seats
        </ion-label>
      </div>
    </ion-title>



  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-bottom: 55px;">
    <div class="list">
      <div>
        <span class="smallGrey">
          Friday, Nov 14, 2019
        </span>
      </div>
      <div>
        <ion-grid>

          <ion-col size="3"  *ngFor="let data of timeData" class="buttonDiv">
       
              <button class="{{data.cssClass}}" fill="clear">
                {{data.time}}
              </button>
            

          </ion-col>

          <!-- <ion-col>
              <ion-button class="buttonStyle" fill="clear">
                1:30 PM
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="buttonStyle" fill="clear">
                6:30 PM
              </ion-button>
            </ion-col> -->


        </ion-grid>
      </div>

    </div>
    <div class="arc">
      <img src="../assets/icon/arc.svg" class="arcImg">

    </div>
    <div *ngFor=" let button of seats;let k = index;" class="{{button.cssClass}}">
      <span class="price"> {{curr}} {{button.value}} {{button.type}}</span>
      <div>
        <ion-grid>
          <ion-row *ngFor="let row of button.data1;let j = index;">
            <ion-col class="rowBtn">
              {{row.row}}
            </ion-col>
            <ion-col *ngFor="let btn of row.data;let i = index">
              <button fill="clear" class="{{btn.cssClass}}" disabled="{{btn.disabled}}" (click)="selected(i,j,k)"></button>
            </ion-col>
          </ion-row>

        </ion-grid>



      </div>

    </div>


  </div>

</ion-content>

<ion-footer (click)="openModel()">
  <ion-toolbar class="footer">



    <span>
      {{finalValue}}
    </span>



  </ion-toolbar>
</ion-footer>