<ion-content>
<div class="divStyle">
  <div style="display: inline-block;height: 35px;margin-bottom: -5px;">
    <img src="../assets/icon/mastercard.svg" class="iconStyle">

  </div>
 
  <div style="margin-bottom: 15px; display: inline-block;height: 30px;">

  <span class="textStyle">
    Debit / Credit card
  </span>
  </div>
</div>
<div class="divStyle">
  <div style="display: inline-block;height: 35px;margin-bottom: -5px;">
  <img src="../assets/img/upi.png" class="iconStyle">
  </div>
  <div style="margin-bottom: 15px; display: inline-block;height: 39px;">
  <span class="textStyle">
    UPI
  </span>
  </div>
</div>
<div class="divStyle">
  <div style="display: inline-block;height: 35px;margin-bottom: -5px;">
<img src="../assets/icon/bank.svg" class="iconStyle">
  </div>
<div style="margin-bottom: 15x;display: inline-block;height: 30px;">
<span class="textStyle">
  Net banking
</span>
</div>
</div>
</ion-content>