<ion-header>
  <ion-toolbar class="header">
    <img src="../assets/icon/backWhite.svg" class="back" [routerLink]="['/home']">
    <ion-title class="title">Black Panther
              <div style="float: right;margin-top: 10px;">
                <img src="../assets/icon/searchzoom.svg" class="searchImg">
                <img src="../assets/icon/notification.svg" class="notification" [routerLink]="['/login']">
              </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div *ngFor=" let category of buttons;let i = index"
    
    style="display: inline-block;text-align: center;height:32px;" >
      <button  [ngClass]="{'active': category.active}"  fill="clear" class="buttonStyle" (click)="selected(i,category)">
        {{category.name}}
        <div class="border"></div>
      </button>
      
    </div>
  

  <ion-slides #slides (ionSlideDidChange)="slideChanged($index)" scrollbar="true" ng-switch="myVar">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let list of Movies">
            <div>
              <img src="{{list.movie}}" class="movieImg">
              <div style="text-align: start">
                <ion-label class="movieName">
                  {{list.name}}
                </ion-label>
              </div>

              <div style="height: 20px;padding-bottom: 5px !important;text-align: start;margin-left: 8px;">
                <img src="../assets/icon/like.svg" class="like">
                <ion-label class="rating">{{list.rate}}</ion-label>
              </div>

            </div>

          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>Second Segment</ion-slide>
    <ion-slide>Third Segment</ion-slide>
  </ion-slides>



</ion-content>