ion-content {
  // font-family: 'Poppins-regular';
  text-align: center !important;
  padding: 5px;
  --background: #e81667;
  --color: white !important;
}
ion-card {
  border-radius: 12px;
}
.logo {
  // font-family: 'Poppins-SemiBold' !important;
  height: 70px;
  width: 38px;
}
.title {
  // font-family: 'Poppins-SemiBold' !important;
  font-size: 22px;
}
.quote {
  font-weight: lighter;
  opacity: 0.9;
  font-size: 12px;
}
.loginCard {
  background: white;
  height: 100%;
  width: 95%;
  padding: 16px;
}
.cardDiv {
    min-height: 60%;
  padding-top: 20px;
  width: 100%;
  height: 67%;
}
.loginT {
  font-family: "Poppins-Medium" !important;
  // font-weight: bold;
  float: left;
  color: #e81667;
  font-size: 16px;
   
}
.inputStyle {
  --padding-start: 10px;
  border-radius: 9px;
  --background: #f4f4f4;
  color: #999999;
  width: 100%;
  height: 48px;
  text-align: left;
}
.forgot {
  margin-top: 8px;
  float: right;
  color: #666666;
  //   font-size: 12px;
  font-size: 70%;
  font-family: "Poppins-regular";
}
.loginBtn {
  font-size: 95%;
  margin-top: 35px;
  border-radius: 10px;
  height: 48px;
  // width: 100%;
  color: white;
  background: #e81667;
}
.divider {
  display: inline-block;
  width: 40%;
  color: #ebebeb;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-top-color: #ebebeb !important;
  height: 4px;
  margin-right: 2px;
  margin-left: 2px;
}
.or {
  margin-top: 4px;
  margin-right: 2px;
  margin-left: 2px;
  color: #f1f1f1 !important;
  font-size: 12px;
}
.googleBtn {
  font-family: "Poppins-regular" !important;
  // font-size: 14px;
  font-size: 90%;
  margin-right: 14px;
  border-radius: 8px;
  height: 40px;
  width: 40%;
  color: #999999;
  background: #fff1f0;
  border: 0.5px solid #f14236;
}
.fbBtn {
  font-size: 90%;
  font-family: "Poppins-regular" !important;
  // font-size: 14px;
  border-radius: 8px;
  height: 40px;
  width: 40%;
  color: #999999;
  background: #f5f9ff;
  border: 0.5px solid #3164ce;
}
.icon {
  margin-right: 5px;
  float: left !important;
  height: 22px;
  width: 22px;
}
.account{
    font-size: 10px;
    color: white;
    opacity: 0.8;
}
.Sign{
      font-size: 10px;
    color: white;
    
}
