<ion-content>
  <div style="height: 100%">
 <div style="margin-top:8%;width: 200px;text-align:center;margin-left: 27%;">
    <div style="float: left;">
      <img src="../assets/icon/coupon.svg" class="logo">
    </div>
    <div class="logoDiv">
      <span class="title">
        BOOK SEAT
      </span>
      <br>
      <span class="quote">
        Your seat, your rights
      </span>
    </div>

  </div>

  <div style="margin-top: 35px;">
    <span class="title">
      Welcome Buddies,
    </span>
    <br>
    <span class="quote2">
      Login to book your seat, I said its your seat
    </span>
  </div>
  <div class="cardDiv">
    <ion-card class="loginCard">
      <span class="loginT">
        Login to your account
      </span>

      <div>
       
        <ion-input [(ngModel)]="username" class="inputStyle" placeholder="Username">
        </ion-input>
        <br>
        <ion-input [(ngModel)]="password" class="inputStyle" placeholder="Password">
        </ion-input>


      </div>
      <div>
        <span class="forgot">
          Forgot Password ?
        </span>

      </div>
      <ion-button (click)="navigate()" size="large" expand="full" fill="clear" class="loginBtn">
        LOGIN
      </ion-button>
      <div style="margin-top: 25px;">
        <div class="divider">

        </div> <span class="or"> Or </span>
        <div class="divider">

        </div>
      </div>
      <div style="margin-top: 25px;">
        <ion-button fill="clear" class="googleBtn">
          <img src="../assets/icon/google.svg" class="icon"> <span style="margin-top: 5px;">Google</span>
        </ion-button>
        <ion-button fill="clear" class="fbBtn">
          <img src="../assets/icon/facebook.svg" class="icon"> <span style="margin-top: 5px;">Facebook</span>
        </ion-button>
      </div>
    </ion-card>
  </div>

<div style="bottom: 0%;margin-top: 30px;">
  <span class="account">Don’t have an account ? </span><span class="Sign"><u>Sign up</u> here.</span>
</div>
  </div>
 
</ion-content>