
<!-- <div class="overlay"></div> -->
  <div class="circle">
<img src="../assets/icon/gps.svg" class="gps">
</div>






<ion-content>

  <div style="text-align: center;height: 58%">

    <img src="../assets/img/infomap.png" class="map">

    <div style="margin-top: 15px;">
    <div style="margin-bottom: 2.5%;">
<span class="name">
{{name}}
</span>
<br>
<span class="smallFont">
 {{city}}
</span>
    </div>

     
 

      <span class="address">
        {{address}}
      </span>
    </div>


  </div>
  <div style="text-align: left">
    <p> Available facilities</p>
    <div style="display: inline-block;height: 78px;width: 100%">
      <div class="iocDiv">
        <div class="smallCircle">
          <img src="../assets/icon/ticket.svg" class="smallIcon">
        </div>
        <br>
        <span class="iconT">
          Cancel
        </span>
      </div>
      <div class="iocDiv">
        <div class="smallCircle">
          <img src="../assets/icon/parking.svg" class="smallIcon">
        </div>
        <br>
        <span class="iconT">
          Parking
        </span>
      </div>
      <div class="iocDiv">
        <div class="smallCircle">
          <img src="../assets/icon/cutlery.svg" class="smallIcon">
        </div>
        <br>
        <span class="iconT">
          Hotel
        </span>
      </div>
      <div class="iocDiv">
        <div class="smallCircle">
          <img src="../assets/icon/rocking-horse.svg" class="smallIcon">
        </div>
        <br>
        <span class="iconT">
          Park
        </span>
      </div>

    </div>

  </div>
</ion-content>