<ion-header>
  <ion-toolbar>
  <img src="../assets/icon/backWhite.svg" class="back" [routerLink]="['/home']">
    <ion-title class="title">{{movie}}
     
      <img src="../assets/icon/filter.svg" class="notification">
    <img src="../assets/icon/searchzoom.svg" class="searchImg"></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-bottom: 60px;">

<div class="list" id="lists"  *ngFor="let theater of lists;let i = index;" >
  <div>
    <span class="theaterName">
      {{theater.name}}
     
    </span>
    <img src="../assets/icon/information.svg" class="info"(click)="openModal(i)">
    <br>
    <span class="smallGrey">{{theater.city}} </span> 
    <span class="distance">{{theater.distance}} </span>
  </div>
  <div>
    <ion-grid>
      <ion-row >
        <ion-col *ngFor="let show of theater.data;let j = index;" style="height: 40px;width: 100px;">
          <ion-button  disabled="{{show.disabled}}" (click)="navigate(i,j)"
           class="{{show.cssClass}}" 
          fill="clear">{{show.time}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
  </div>

<ion-footer>
  <ion-toolbar class="footerBar">
    <div>
      <img src="../assets/icon/calendar.svg" class="cal">
    <span class="date">Today, {{today | date:'dd MMM '}} {{day}} {{mon}} </span> 
    <img src="../assets/icon/down.svg" class="downA" (click)="openCal()">

      <span class="movieType">{{lang}} {{type}}</span>
      <img src="../assets/icon/down.svg" class="downA" (click)="seat()">
    </div>

  </ion-toolbar>
</ion-footer>
</ion-content>
