ion-button{
    box-sizing: border-box;
    -webkit-tap-highlight-color:  #fcfcfc !important;
    -webkit-tap-highlight-color: #fcfcfc !important;
    -webkit-touch-callout: none;
}
ion-toolbar {
  --background: #222539;
  color: white;
}
ion-content {
  font-family: "Poppins-Regular" !important;
  --background: #f5f5fa;
}
ion-title {
  padding-left: 15px;
  padding-top: 3px;
  font-size: 16px;
}
ion-col {
  padding: 0%;
  max-width: 106px;
  width: 100px;
}
ion-button {
  width: 90px;
}
ion-footer {
  height: 50px;
  bottom: 0%;
  position: fixed;
  --background: #222539 !important;
  color: white;
}
ion-button {
  --background-activated: #fcfcfc !important;
  visibility: inherit;
  :active{
    --background:  #fcfcfc !important;
  }
:host(.button-clear) {
    --border-width: 0;
    --background:  #fcfcfc !important;
    --color: #3880ff;
}
}
:host(.button-clear) {
    --border-width: 0;
    --background:  #fcfcfc !important;
    --color: #3880ff;
}

img,
button,
div {
  outline: none;
}

.footerBar {
  font-weight: lighter;
  text-shadow: 0px 0px 0px 0px;
  font-family: "Poppins-ExtraLight" !important;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.searchImg {
  float: right;
  height: 18px;
  width: 18px;
  margin-right: 15px;
}
.notification {
  float: right;
  height: 18px;
  width: 18px;
}
.back {
  margin-left: 10px;
  float: left;
  height: 25px;
  width: 20px;
}
.list {
  padding: 16px;
  background: white !important;
  margin-bottom: 10px;
}
.theaterName {
  color: #222539;
}
.info {
  float: right;
}
.smallGrey {
  color: #999999;
  font-size: 11px;
  font-family: "Poppins-Regular";
}
.distance {
  color: #333333;
  font-size: 11px;
  margin-left: 5px;
}
.buttonStyle {
  height: 36px; 
  width: 90px;
  --background-activated: #fcfcfc !important;
  --background-focused: #2ec492;
  --background-hover: #2ec492;
  --color-activated: #2ec492;
  --color-focused: #2ec492;
  border-radius: 4px;
  color: #2ec492;
  background: #fcfcfc !important;
  --background: #fcfcfc !important;
  border: 0.6px solid #ececec;
}
.buttonActive {
  height: 36px; 
  width: 90px;
  --background-activated: #fcfcfc !important;
  --background-focused: #eb8d2f;
  --background-hover: #eb8d2f;
  --color-activated: #eb8d2f;
  --color-focused: #eb8d2f;
  border-radius: 4px;
  color: #eb8d2f;
  background: #fcfcfc !important;
   --background: #fcfcfc !important;
  border: 0.6px solid #e5e5e5;
}
.buttonInactive {
  border-radius: 4px;
  color: #e5e5e5;
  background: #fcfcfc !important;
  border: 0.6px solid #e5e5e5;
}
.cal {
  height: 15px;
  width: 15px;
}
.date {
  font-size: 13px;
  margin-left: 8px;
}
.movieType {
  margin-right: 5px;
  font-size: 13px;
  margin-left: 12px;
}
.downA {
  height: 9px;
  width: 8px;
}
.selected {
   --background-activated: #fcfcfc !important;
  --background-focused: white;
  --background-hover: white;
  --color-activated: white;
  --color-focused: white;
  border-radius: 4px;
  color: white;
  --background: #2ec492 !important;
  background: #2ec492 !important;
}
