<ion-header>
  <ion-toolbar>
    <ion-title>
      <div>
        <img src="{{profileImg}}" alt="../assets/img/profile2.png" class="profileImg">
        <div style="float: right;margin-top: 17px;">
          <img src="../assets/icon/searchzoom.svg" class="searchImg">
          <img src="../assets/icon/notification.svg" class="notification" [routerLink]="['/login']">
        </div>
        <div class="profileDiv">
          <span class="profileName">
            {{fullname}}
          </span>
          <div class="location">
            <span class="location">
              Niarobi
            </span>
          </div>
        </div>



      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-slides #Slides (ionSlideDidChange)="slideChanged()" autoplay="2000" loop="true" speed="500">
    <ion-slide *ngFor="let image of imageContainer">


      <div class="slideImg">
        <img class="slideImgs"  src="{{image.img}}">
      </div>
    </ion-slide>
  </ion-slides>

  <div>
    <ion-text class="seatC">
      SEAT CATEGORIES
    </ion-text>
    <div class="optionSlide">
      <div class="slide" *ngFor="let item of category">
        <img src="{{item.categoryImg}}" class="optImg">
        <br>
        <ion-text class="optName">
          {{item.categoryName}}
        </ion-text>
      </div>
    
    </div>
  </div>

  <div>
    <ion-text class="seatC">
      IN THEATERS
    </ion-text>
    <div class="moviesSlide">
      <div class="moviesBlock"  (click)="goToNext()" *ngFor="let items of movies">
        <div>
          <img class="movieImg" src="{{items.movieImg}}">
          <br>
          <ion-label class="movieName">
            {{items.movieName}}
          </ion-label>
          <div style="margin-top: 5px;">
            <img src="../assets/icon/like.svg" class="like">
            <span class="likeVal">
              {{items.rate}}
            </span>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div>
    <div style="padding-left:20px;padding-right: 20px;">
      <ion-label class="title">
        NEARBY THEATERS
      </ion-label>
      <ion-label class="view" (click)="navigate()">
        View all
      </ion-label>
    </div>
<div class="map-wrapper">

<div #map id="map">

</div>
</div>
    
    </div>

  
  <div>
    <div style="padding-left:20px;padding-right: 20px;margin-top: 25px;">
      <img src="../assets/icon/spotlightsBlack.svg" class="like">
      <ion-label class="title">
        EVENTS
      </ion-label>
      <ion-label class="view">
        View all
      </ion-label>
    </div>

    <div class="eventSlide">
      <div class="eventsBlock" *ngFor="let event of events">
        <div>
          <img class="movieImg" src="{{event.eventImg}}">
          <br>
          <div class="eventName">
            <span>
              {{event.eventName}}
            </span>
          </div>

          <div style="margin-top: 1px;">

            <ion-label class="likeVal">
              {{event.type}}
            </ion-label>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div>
    <div style="padding-left:20px;padding-right: 20px;">
      <img src="../assets/icon/playBlack.svg" class="like">
      <ion-label class="title">
        Play
      </ion-label>
      <ion-label class="view">
        View all
      </ion-label>
    </div>

    <div class="eventSlide">
      <div class="eventsBlock" *ngFor="let play of plays">
        <div>
          <img class="movieImg" src="{{play.image}}">
          <br>
          <div class="eventName">
            <span>
              {{play.name}}
            </span>
          </div>

          <div style="margin-top: 1px;">

            <ion-label class="likeVal">
              {{play.type}}
            </ion-label>
          </div>
        </div>
      </div>
    </div>


  </div>
</ion-content>